* {
    box-sizing: border-box;
  }
  
html,
body {
margin: 0;
padding: 0;
background-color: black;
}

#mc_embed_signup{background: black; clear:left; font:14px Helvetica,Arial,sans-serif; }

:root {
--neil-color: firebrick;
--buzz-color: royalblue;
--mike-color: gold; 
}

img.img-n {
    border-radius: 10%;
    width: 40%;
    clear: both;
    margin-bottom: 2px;
    padding-left: 5px;
    float: left;
    -webkit-touch-callout: none;
}

img.img-b {
  border-radius: 10%;
  width: 40%;
  clear: both;
  margin-bottom: 2px;
  padding-left: 5px;
  float: right;
  -webkit-touch-callout: none;
}

img.img-c {
  border-radius: 10%;
  width: 40%;
  clear: both;
  margin-bottom: 2px;
  padding-left: 5px;
  float: left;
  -webkit-touch-callout: none;
}

span.n {
font-weight: bold;
color: white;
background: var(--neil-color);
}
    
span.b {
font-weight: bold;
color: white;
background: var(--buzz-color);
}

span.m {
font-weight: bold;
color: var(--mike-color);
}

.module {
  height: 75px;
  opacity: 0;
}

.slideLeft {
  opacity: 100;
  color: rgba(0,0,0,0);
  text-decoration: none;
  padding-right: 20px;
  left: 50%;
  position: absolute;
  -webkit-animation: slideLeft 15s;
  animation: slideLeft 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*animation links
https://jsfiddle.net/apaul34208/ozww5cvj/18/
https://css-tricks.com/controlling-css-animations-transitions-javascript/
*/

@keyframes slideLeft {
  from {
      left: 150%;
  }
  to {
      left: -150%;
  }
}

@-webkit-keyframes slideLeft {
from {
    left: 150%;
}
to {
    left: -150%;
}
}

/*.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}*/

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
min-height: 1280px;
color: white;
font-size: 24px;
}
  
  p,
  h1,
  h3,
  h4,
  a{
    margin: 0;
    font-weight: 400;
  }

  #scrolly {
    position: relative;
    background-color: black;
    padding-top: 0;
}

#credits {
  max-width: 60rem;
  margin: 1rem auto 0.5rem auto;
  min-height: 20rem; /* update me */  
}

#intro {
    max-width: 40rem;
    /* top right bottom left*/
    margin: 0.25rem auto 0.5rem auto;
  }
  
  .intro__hed {
    font-size: 5REM;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  .intro__credit {
    font-size: 0.75em;
    text-align: center;
    color: silver;
  }
  
  .intro__dek {
    text-align: justify;
    /* top left-right bottom*/
    margin: 1rem 2rem 0;
    color: white;
  }

  .intro__call {
    text-align: center;
    color: grey;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

article {
    position: relative;
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
    z-index: 9;
}

.header {
  opacity: 0;
  position: fixed;
  background-color: black;
  top: 0;
  width: 100%;
  /*top-bottom r-l*/
  margin: 0 auto;
  height: 2rem;
  z-index: 15;
  border-bottom: 2px solid rgba(25,25,25,100);
  font-family: Courier, Helvetica, sans-serif;
}

.header-p {
  max-width: 40rem;
  /*top-bottom r-l*/
  margin: 0 auto;
}

.armstrong {
  float: left;
  color: var(--neil-color);
  font-weight: bold;
}

.aldrin {
  float: right;
  color: var(--buzz-color);
  font-weight: bold;
}

.header-c {
  opacity: 0;
  position: fixed;
  text-align: center;
  font-weight: 500;
  font-family: Courier, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0);
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  z-index: 16;
}


.collins {
  color: var(--mike-color);
  
}

.houston {
  color: white;
}

.footer {
  opacity: 0;
  position: fixed;
  bottom: 0;
  /* top l-r bottom*/
  margin: 0 1% 15px;
  width: 98%;
  z-index: 15;
  color: white;
  background-color: rgba(0,0,0,0);
  font-weight: 500;
  font-family: Courier, Helvetica, sans-serif;
}

.time-l {
  float: left;
}

.time-r {
  float: right;
}

.time-explainer {
  text-align: center;
  margin: 0 auto;
}

.footer-bar {
  opacity: 1;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  color: var(--buzz-color);
  background-color: black;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  z-index: 15;
  border-top: 2px solid rgba(25,25,25,100);
}


/*sticky*/
figure {
    position: -webkit-sticky;
    position: sticky;
    pointer-events: none;
    margin:0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: black;
    
    z-index: 10;
}

/* Text on top of sticky*/
figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: blue;
}

/* scrolling stepper*/
.step {
    /*top right bottom left*/
    background-color: rgba(0,0,0,0);
    margin-bottom: 4rem;
    overflow: auto;
}

/*.step:last-child {
    margin-bottom: 4rem;
}*/

.step.is-active p {
    background-color: black;   
}

.step p {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    color: darkgrey;
    background-color: black;
    font-family: Courier, Helvetica, sans-serif;
}
  
  a,
  a:link,
  a:visited,
  a:hover {
    color: var(--buzz-color);
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 1rem;
    padding-right: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }

  ul{
    display: block;
    font-size: 1.25rem;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    padding-inline-start: 5px;
  }
  
  ul li{
    display:inline-block;
    list-style-type: none;
    max-width: 30rem;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .capcom{
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    background: rgba(0,0,0,0);
    color: #fff;
  }

  .nixon{
    margin-left: 5%;
    width: 95%;
    max-width: 38rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-align: justify;
    background: rgba(0,0,0,0);
    color: #fff;
  }

  .comment{
    text-transform: uppercase;
    font-family: Courier, Helvetica, sans-serif;
    background: rgba(0,0,0,0);
  }

  .ccenter{
    margin-left: 10%;
    width: 80%;
    text-align: center;
    color: grey;
  }

  .clong{
    margin-left: 10%;
    width: 80%;
    text-align: left;
    color: grey;
  }

  .cneil{
    margin-left: 0%;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--neil-color);
    background: rgba(0,0,0,0);
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .cbuzz{
    margin-left: 50%;
    width: 50%;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--buzz-color);
    background: rgba(0,0,0,0);
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ccapcom{
    margin-left: 10%;
    width: 80%;
    text-align: left;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .break{
    margin-left: 10%;
    width: 80%;
    height: 30rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Courier, Helvetica, sans-serif;
    background: rgba(0,0,0,0);
    color: grey;
  }

  .mike{
    margin-left: 20%;
    width: 70%;
    text-align: justify;
    background: rgba(0,0,0,0);
    color: var(--mike-color);
  }
  
  .neil{
    float: left;
    background: var(--neil-color);
    color: #fff;
    border-bottom-left-radius: 5px;
  }

  .neiltag{
    float: left;
    color: var(--neil-color);
    font-family: Courier, Helvetica, sans-serif;
  }

  .neil + .neil{
    border-top-left-radius: 5px;
  }
  
  .buzz{
    float: right;
    background: var(--buzz-color);
    color: #fff;
    border-bottom-right-radius: 5px;
  }
  
  .buzz + .buzz{
    border-top-right-radius: 5px;
  }

  h2 {
    color: white;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .stinger p {
    font-size: 1.25rem;
    color: silver;
    text-align: justify;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.outro {
  text-align: justify;
  color: white;
}

#payment {
    width: 50%;
    margin: 0 auto;
  }